@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    string returnUrl = ViewContext.HttpContext.Request.Path;

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

@using factory_minimal_edge_ui.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<HomeController> HtmlLocalizer

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, AdminWrap lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Elegant admin lite design, Elegant admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Elegant Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Factory Edge</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Site tour -->
    <link href="~/lib/intro-js/introjs-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/intro-js/introjs.min.css" rel="stylesheet" />
</head>

<body class="skin-default-dark fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Factory Edge</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/assets/logo/ff-orange.png" alt="homepage" height="40" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/assets/logo/ff-orange.png" alt="homepage" height="40" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="~/assets/logo/ff-text-orange.png" alt="homepage" height="40" class="dark-logo" />
                            <!--img src="~/assets/logo/ff-text-orange.png" alt="homepage" class="dark-logo" height="60"-->
                            <!-- Light Logo text -->
                            <!--img src="~/assets/logo/ff-text-orange.png" class="light-logo" alt="homepage" height="60"-->
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item hidden-sm-up">
                            <a class="nav-link nav-toggler waves-effect waves-light"
                               href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box" id="tour-searchbox">
                            <a class="nav-link waves-effect waves-dark"
                               href="javascript:void(0)"><i class="fa fa-search"></i></a>
                            @using (Html.BeginForm("index", "Notifications"))
                            {
                                <div class="app-search">
                                    <input type="search" class="form-control" placeholder="Search & enter" name="searchString"><a class="srh-btn"><i class="fa fa-times"></i></a>
                                </div>
                            }


                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown" id="tour-user">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userDropdown">
                                <div class="user-img">
                                    <span class="round">
                                        CS
                                    </span>
                                </div>
                                <!--img src="~/assets/images/users/1.jpg" alt="user" class="img-circle" width="30"-->
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <!--a class="dropdown-item" href="#">Settings</a-->
                                <form asp-action="ChangeLanguage" asp-controller="Home" method="post">
                                    <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />
                                    <select id="culture"
                                            name="culture"
                                            class="form-control"
                                            onchange="this.form.submit();"
                                            asp-items="cultureItems"
                                            asp-for="@requestCulture.RequestCulture.UICulture.Name">
                                    </select>
                                </form>

                                <div class="dropdown-divider"></div>

                                <div class="custom-control custom-switch" style="padding:7px 55px">
                                    <input type="checkbox" class="custom-control-input" id="enableToursSw" checked onchange="SelectTours(this);">
                                    <label class="custom-control-label" for="enableToursSw">@HtmlLocalizer["menu.enablefeaturestours"]</label>
                                </div>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"><i class="fa fa-sign-out"></i> @HtmlLocalizer["menu.logout"]</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img src="~/assets/logo/ff-orange.png" height="60" alt="Factory Edge logo"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)">
                    <i class="ti-menu"></i>
                </a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
                    <i class="ti-menu ti-close"></i>
                </a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li id="tour-home">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li id="tour-notifications">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="SiemensDevices" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-server"></i><span class="hide-menu">Input connectors</span>
                            </a>
                        </li>
                        <li id="tour-equipments">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="SiemensTags" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-tags"></i><span class="hide-menu"></span>Connection Tags
                            </a>
                        </li>

                        <li id="tour-data-modeling">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Models" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-code"></i><span class="hide-menu"></span>Data modeling
                            </a>
                        </li>

                        <li id="tour-models">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Models" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-cubes"></i><span class="hide-menu"></span>Models
                            </a>
                        </li>

                        <li id="tour-output">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="Output" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-cloud-upload"></i><span class="hide-menu"></span>Output connectors
                            </a>
                        </li>

                        <li id="tour-users">
                            <a class="waves-effect waves-dark" asp-area="" asp-controller="TenantUsers" asp-action="Index" aria-expanded="false">
                                <i class="fa fa-users"></i><span class="hide-menu">User management</span>
                            </a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark" asp-controller="Home" asp-action="Help" aria-expanded="false">
                                <i class="fa fa-question-circle"></i><span class="hide-menu"></span>Help
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                @RenderBody()

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            Factory Edge by <a href="http://www.azordev.pt/">azordev.pt</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/modules/popper/popper.min.js"></script>
    <script src="~/assets/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <script src="/js/site.js"></script>

    <!-- Site tour -->
    <script src="~/lib/intro-js/intro.min.js"></script>
    <script src="~/js/cookies.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
