@model IEnumerable<factory_minimal_edge_models.MQTT_Topic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Broker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QoS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Broker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QoS)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Action commands">
                    <a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a type="button" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
